
a {
  color: black;
}
div {
  border: 1px black solid;
}

/* Header */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px black solid;
  display: flex;
  width: 100%;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

}
.logo span {
  padding-left: 10px;
  color: MediumAquamarine;
  width: 75px;
}
header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 40px;
}
nav span {
  padding: 20px 10px;
}
/* Main Content */
main {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  margin: 0px 15px;
}

.column .large {
  diplay: flex;
  flex-direction: column;
  width: 630px;
}
.column .medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.column .small {
  display: flex;
  flex-direction: column;
  width: 240px;
}
